body {
    background-color: rgb(28, 146, 155);
    color: white;

    header {
        margin: auto;
        text-align: center;
    }

    section {
        margin: auto;
        background-color: white;
        color: black;
        width: 700px;
        max-height: 200px;
        padding: 5px;
        border-radius: 10px;

        button {
            margin-bottom: 5px;
        }

        div#divres {
            overflow-y: scroll;
        }
    }

    footer {
        margin: auto;
        text-align: center;
    }
}